@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box
}

html {
    background-image: url(images/retrosupply-jLwVAUtLOAQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: rgba(180, 180, 180, 0.8);
    border: rgb(0, 0, 0) 4px solid;
    max-width: 350px;
    border-radius: 5px;
}

.screen {
    border: none;
    padding: 10px;
    border-bottom: 4px solid #000;
    color: #EEE;
    text-align: right;
    font-size: 40px;
    font-family: 'Roboto Mono';
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.buttons > div {
    display: grid;
    gap: 10px;
    grid-auto-rows: minmax(70px, auto);
}

.btn {
    background: rgba(0, 0, 0, 0.75);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    color: #EEE;
    border-radius: 5px;
    font-size: 26px;
    cursor: pointer;
    font-family: 'Roboto Mono';
}

.box-1 {
    grid-template-columns: 1fr 1fr;
    grid-column: 1/4;
    grid-row: 1;
}

.box-2 {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/4;
    grid-row: 2/4;
}

.box-3 {
    grid-template-rows: repeat(5, 1fr);
    grid-column: 4;
    grid-row: 1/5;
}

.box-4 {
    grid-template-columns: 1fr 1fr;
    grid-column: 1/4;
    grid-row: 4;
}

.equals, .clear, .delete {
    background: rgba(93, 0, 0, .8) !important;
}